[user]
	email = randywest55@gmail.com
	name = Randy West
[core]
  editor = vim
  conflictstyle = diff3
[mergetool "nvimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[merge]
	tool = nvimdiff
[credential]
	helper = store
